* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.divid{
    display: flex;
}

.navbar{
    width: 20%;
    height: 100vh;
}

.navbar-links{
    list-style: none;
}


.navbar-links li{
    padding: 10px;
}

.navbar-links li:hover{
    background-color: gray;
    padding: 10px;
}

i{
    margin-right: 15px;
}


.container{
    width: 80%;
    background-color: #e4e9f1;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

a{
    text-decoration: none;
    color: black;
}

button{
    padding: 1%;
    background-color:orange;
    border-radius: 5%;
    border: none;
}


#modal.modal-active {
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    color: black;
    transform: translate(-17%, -65%);
    height: 80vh;
    background-color: white;
    box-shadow: 5px;
    padding: 5%;
}

#modal {
    display: none;
}

.close{
    background-color: white;
    padding: 5%;
}

.modal-top{
    display: flex;
}

.modal-top h1{
    padding: 5%;
    font-size: 20px;
}

.small-con{
    background-color: #e4e9f1;
    margin: 40px 40px 20px 40px;
    height: 60vh;
}

.titl{
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

input{
    width: 30vw;
    height: 5vh;
    padding: 10px;
    margin-left: 10px;
}

.canadd{
    margin-left: 40px;
    margin-bottom: 30px;
}

.can{
    background-color: #e4e9f1;
}

.add{
    background-color: orange;
    width: 60px;
}

  
.button-container{
    width: 100%;
    text-align: center;
}

.card-body{
    width: 20vw;
    display: table-cell;
    
}

.card{
    width: 20vw;
    margin: 5px;
}
 
.product-list{
    display: flex;
    width: 90vw;
    height: 60vh;
    margin: 10px;
    flex-wrap: wrap;
}

h1,h2,h3,h4{
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.add-btn{
    margin:10px;
}

.form-group{
    margin: 0px 0px 8px 0px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.close{
    padding: 2%;
    background-color:red;
    border-radius: 5%;
    border: none;
}