* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.divid{
    display: flex;
}

nav{
}

.navbar{
    width: 20%;
    height: 100vh;
}

.navbar-links{
    list-style: none;
}


.navbar-links li{
    padding: 10px;
}

.navbar-links li:hover{
    background-color: gray;
    padding: 10px;
}

i{
    margin-right: 15px;
}


.container{
    width: 80%;
    background-color: #e4e9f1;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

a{
    text-decoration: none;
    color: black;
}

button{
    padding: 1%;
    background-color:orange;
    border-radius: 5%;
    border: none;
}


#modal.modal-active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    width: 60vw;
    transform: translate(-17%, -65%);
    height: 80vh;
    background-color: white;
    box-shadow: 5px;
}

#modal {
    display: none;
}

.close{
    background-color: white;
    padding: 5%;
}

.modal-top{
    display: flex;
}

.modal-top h1{
    padding: 5%;
    font-size: 20px;
}

.small-con{
    background-color: #e4e9f1;
    margin: 40px 40px 20px 40px;
    height: 50vh;
}

.titl{
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}

input{
    width: 30vw;
    height: 5vh;
    padding: 10px;
    margin-left: 10px;
}

.canadd{
    margin-left: 40px;
    margin-bottom: 30px;
}

.can{
    background-color: #e4e9f1;
}

.add{
    background-color: orange;
    width: 60px;
}


/* Projects section */

  
.button-container{
    width: 100%;
    text-align: center;
}
  
.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
}
  
.product-con {
    max-width: 23%;
    width: 100%;
    height: 300px;
    margin: 1%;
    position: relative;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 0 0 5px black;
}
  
.product-con img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
  
.product-con img,
.item-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}
  
.products h1{
    font-size: 2rem;
    padding: 50px;
    text-align: center;
}
  
.item-info{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
  
.item-info:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s linear;
    transition: 0.6s ease-in;
}
  
.item-info h4,
.item-info h6,
.item-info p {
    text-shadow: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
  
a{
    text-decoration: none;
}
  
.item-info p {
    text-align: center;
}

  
.button:hover {
    color: white;
  }

