* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.divid{
    display: flex;
}

nav{
}

.navbar{
    width: 20%;
    height: 100vh;
}

.navbar-links{
    list-style: none;
}


.navbar-links li{
    padding: 10px;
}

.navbar-links li:hover{
    background-color: gray;
    padding: 10px;
}

i{
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}

.acc-info{
    background-color: #e4e9f1;
    width: 80%;
}

.acc-info h1{
    padding: 5%;
}

sub{
    padding: 5%;
    font-size: 20px;
}

.head-info{
    padding: 5% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}


.info{
    width: 30vw;
    background-color: #aeb0b3;
    height: 25px;
    margin:10px 40px 10px 55px;
}

.for-lb{
    display: flex;
}

.right{
    margin-left: 230px ;
}

.right-right{
    margin-left: 350px;
}

label{
    padding: 2%;
}

.cell{
    width: 30vw;
    height: 25px;
    margin-left: 55px;
    margin-top: 10px;
}

.id-num{
    margin-top: 10px;
    width: 30vw;
    height: 25px;
    margin-left: 55px;
    text-align: end;
}

.products-con{
    padding: 5% 13% 5% 3%;
    display: grid;
}

.products{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    display: flex;
}

.products-details{
    font-size: 18px;
    margin-left: 90.5px;
    text-align: end;
}

body > table {
    width: 80%;
}

table{
    border: none;
}

table.list{
    width: 100%;
}

td, th{
    border: 1px solid white;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

